<style>
	footer{
  width: 100%;
  position: bottom;
  bottom: 0;
  background: linear-gradient(to right, #00093c, #2d0b00);
  color: #fff;
  padding: 40px 0 20px;
  border-top-left-radius: 100px;
  font-size: 13px;
  line-height: 20px;
}
.row{
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.col{
  flex-basis: 25%;
  padding: 10px;
} 
.logo1{
  width: 80px;
  margin-bottom: 30px;
  margin-left: 20px;
}
#contact{
  border: 10px 10px 10px 10px;
  background-color: aqua;
  text-align: center;
}
</style>
<!-- ========================= FOOTER ========================= -->
<footer>
    <div class="row">
      <div class="col">
        <img src="#" alt="Hello" class="logo1">
        <p>Hello everyone</p>
      </div>
      <div class="col">
        <h3>Home</h3>
        <ul>
          <li><p>Khammam</p></li>
        <li><p>Telangana</p></li>
        </ul>
        
        <p class="email-id">songojikavya15@gmail.com</p>
      </div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
  </footer> 
<!-- ========================= FOOTER END // ========================= -->